* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  background-color: darkslateblue;
  padding: 25px;
}

main {
  background-color: #add2eb;
  height: 94vh;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die--container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  gap: 35px;
}

.die {
  position: relative;
  background-color: #add2eb;
  height: 60px;
  width: 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.die--num {
  font-weight: 700;
  font-size: 1.3rem;
  color: #0c2231;
  position: absolute;
  left: 42%;
  top: 30%;
}

.roll--btn {
  margin-top: 50px;
  height: 75px;
  width: 200px;
  background-color: #705fd9;
  color: #add2eb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  border-color: #705fd9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 4rem;
  color: #0c2231;
  margin: 0;
}

.instructions {
  font-size: 1.2rem;
  color: #0c2231;
  width: 15%;
  text-align: center;
  width: 350px;
  margin: 0;
  margin-bottom: 50px;
}

.roll--count {
  font-size: 1.2rem;
  margin-top: 3rem;
  color: #0c2231;
}

.timer {
  color: #0c2231;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.record--time {
  color: #0c2231;
  font-size: 1.3rem;
}

@media (min-width: 2000px) {
  .title {
    font-size: 7rem;
  }

  .instructions {
    font-size: 2rem;
    width: 600px;
  }

  .die--container {
    grid-template: 1fr / repeat(10, 1fr);
    gap: 50px
  }

  .die {
    height: 100px;
    width: 100px;
  }

  .die--num {
    top: 35%
  }

  .timer {
    font-size: 2.2rem;
  }

  .roll--btn {
    width: 400px;
    height: 100px;
    font-size: 3rem;
  }

  .roll--count {
    font-size: 2rem;
  }

  .record--time {
    font-size: 2.1rem;
  }
}

@media (min-width: 425px) and (max-width: 570px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  .title {
    font-size: 2rem;
  }

  .instructions {
    font-size: .9rem;
    width: 250px;
  }

  .die--container {
    gap: 20px
  }

  .die {
    height: 40px;
    width: 40px;
  }

  .die--num {
    font-size: .85rem;
  }

  .timer {
    font-size: 1.2rem;
  }

  .roll--btn {
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
  }

  .roll--count {
    font-size: 1rem;
  }

  .record--time {
    font-size: 1.1rem;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  main {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 10px;
  }

  .title {
    font-size: 1.8rem;
  }

  .instructions {
    font-size: .75rem;
    width: 200px;
  }

  .die--container {
    gap: 18px
  }

  .die {
    height: 30px;
    width: 30px;
  }

  .die--num {
    font-size: .75rem;
  }

  .timer {
    font-size: 1.2rem;
  }

  .roll--btn {
    width: 150px;
    height: 60px;
    font-size: 1.2rem;
  }

  .roll--count {
    font-size: 1rem;
  }

  .record--time {
    font-size: 1.1rem;
  }
}