* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  background-color: darkslateblue;
  padding: 25px;
}

main {
  background-color: #add2eb;
  height: 94vh;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}

/*color:0c2231*/